@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    background-color: darkgray;
}

:root {
    --fonte-1: ;
    --fonte-2: font-family: 'Sriracha', cursive;
    ;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 150px;
    font-family: var(--fonte-2);
}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header>p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: aqua;
}

section.imagem {}

section.imagem>p {
    width: 400px;
    background-color: rgb(56, 56, 56);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}